body {
    background-color: black;
    color: white;
    text-align: center;
}

.result {
    font-size: 50px;
}

button {
    margin-top: 15%;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}